/************************ EXPERIENCE *********************************/
.experience {
  background: var(--primary-light-grey);
  h1 {
    color: var(--primary-orange);
    @apply text-4xl uppercase;
  }
}

.experience-wrapper {
  padding: 3.125rem 0;
  @apply relative overflow-hidden;
  &::before {
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    background: var(--primary-dark-grey);
    z-index: 1;
    @apply absolute h-full;
  }
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0.1rem 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.topic {
  color: var(--primary-hover-red);
}

/*------------ MEDIA ------------------*/
@media (max-width: 768px) {
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}
