@import "../../App.scss";

.header-wrapper {
  background: url(../../images/top.jpg) no-repeat;
  @apply relative h-screen bg-cover bg-center;
  &::after {
    content: "";
    background-color: var(--primary-transparent-black);
    @apply absolute inset-0;
  }
  .main-info {
    @apply absolute inset-0 flex flex-col justify-center items-center text-center z-10;
    h1 {
      color: var(--primary-orange);
      letter-spacing: 1rem;
      font-size: 4rem;
    }
    .typed-text {
      font-size: 2rem;
      color: var(--primary-grey);
      font-family: cursive !important;
    }
  }
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
    letter-spacing: 0.5rem;
  }
  .typed-text {
    font-size: 1.4rem !important;
  }
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
