@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: green;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

/************************ tailwind CSS *********************************/

.flexRowCenter {
  @apply flex justify-center items-center;
}

.flexColCenter {
  @apply flex flex-col justify-center items-center;
}

/************************ NAVBAR *********************************/

/* 

 */
/* .navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
  color: var(--primary-white) !important;
} */

/************************ PORTFOLIO *********************************/

.portfolio-wrapper {
  background-color: #262626;
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-orange);
}

.portfolio-wrapper .card {
  background-color: transparent;
  filter: grayscale(100%);
  cursor: pointer;
}

.portfolio-wrapper .card:hover {
  background-color: var(--primary-orange);
  filter: grayscale(0);
  filter: drop-shadow(0 0 0.5rem rgba(255, 203, 5, 1));
  transition-duration: 0.5s;
}

.portfolio-image {
  width: 100%;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/************************ POPUP *********************************/

.portfolio-image-popupbox {
  width: 100%;
}

.popup-topic {
  font-size: 1.2rem;
  font-family: italic !important;
}
.portfolio-wrapper p {
  font-size: 0.9rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange) !important;
}

.hyper-link:hover {
  color: var(--primary-red) !important;
}

/*------------ MEDIA ------------------*/
@media (max-width: 960px) {
  .portfolio-wrapper .card {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .portfolio-wrapper .card {
    margin-bottom: 2rem;
  }
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .portfolio-image-popupbox {
    width: 30%;
  }
}

/************************ CONTACTS COMPONENT *********************************/
.contacts {
  background-color: #222222;
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-dark-grey);
  font-size: 1rem;
}

/*------------------ INPUTS -------------------------------*/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 9.2rem !important;
}

.contact-btn {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.75rem;
  color: var(--primary-white);
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.contact-btn:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- MEDIA -----------------------*/
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/************************ FOOTER COMPONENT *********************************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
